@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
<div class="container">
    <h1>Multi Geocoder Example</h1>
    <small><a href="http://github.com/sbosell/geocoder">http://github.com/sbosell/geocoder</a></small>
</div>
</div>
<div class="content">
    <div class="jumbotron container">
        <p>
            These examples make an api post back to a simple controller which returns the geocoded result.  
            Try querying springfield on the google or paris to see multiple results.  The red icon is the first result.
<br /><br />
            ps.  There is a nodejs demo:  <a href="http://geocodenode.azurewebsites.net" target="_blank">http://geocodenode.azurewebsites.net</a>
        </p>
        <div class="">
            <form>
                <div class="form-group">
                    <label >Address</label>
                    @Html.TextBox("Address", "Austin, TX", new {@class="form-control"})
                </div>
                <div class="form-group">
                    <label>Geo Provider</label>
                    @Html.DropDownList("Providers", (List<SelectListItem>
                        ) ViewBag.Providers, new {@class="form-control"})
                </div>
               <div class="form-group">
                   Apikey: @Html.TextBox("ApiKey", "", new {@class="nokey form-control"}) <span id="apikeytext">Not Required</span>
               </div>
                    
                    <button id="doit" class="btn btn-success">Get Coordinates</button>
            </form>
        </div>
        <div id="results">
            Latitude: <span id="latitude" class="label label-default"></span>
            Longitude: <span id="longitude" class="label label-default"></span>
        </div>
<br />
        <div id="message">

        </div>

        <div id="map"></div>
    </div>
</div>

<div id="code" class="container">
    Here is the controller that does all the magic:


    <script src="https://gist.github.com/sbosell/4439dc758b1c1428e77d.js"></script>

</div>
