@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    var providers = @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Providers)));
</script>

<div class="page-header">
<div class="container">
    <h1>Multi Geocoder Example</h1>
    <small><a href="http://github.com/sbosell/geocoder">http://github.com/sbosell/geocoder</a></small>
</div>
</div>
<div class="content">
    <div class="jumbotron container">
        <p>
            These examples make an api post back to a simple controller which returns the geocoded result.  
            Try querying springfield on the google or paris to see multiple results.  The red icon is the first result.
<br /><br />
            ps.  There is a nodejs demo:  <a href="http://geocodenode.azurewebsites.net" target="_blank">http://geocodenode.azurewebsites.net</a>
        </p>
        <div class="">
            <form>
                <div class="form-group">
                    <label >Address</label>
                    @Html.TextBox("Address", "Austin, TX", new {@class="form-control", ng_model="address"})
                </div>
                <div class="form-group">
                    <label>Geo Provider</label>
                    <select name="Providers" class="form-control" ng-model="provider" ng-options="provider.Text for provider in providers" ng-init="provider = providers[0]"></select>
                    
                </div>
               <div class="form-group" >
                   Apikey: @Html.TextBox("ApiKey", "", new {@class="nokey form-control", ng_model="apiKey", ng_class="{nokey:getKey()}"}) <span id="apikeytext">Not Required</span>
               </div>
                    
                    <button id="doit" class="btn btn-success" ng-click="go()">Get Coordinates</button>
            </form>
        </div>
        
        <div id="results" ng-show="hasResults">
            Latitude: <span id="latitude" class="label label-default">{{latitude}}</span>
            Longitude: <span id="longitude" class="label label-default">{{longitude}}</span>
        </div>
<br />
         <div id="message" ng-show="hasMessage">
             {{message}}
        </div>

        <div id="map" class="map" data="data"></div>
    </div>
</div>

<div id="code" class="container">
    Here is the controller that does all the magic:


    <script src="https://gist.github.com/sbosell/4439dc758b1c1428e77d.js"></script>

</div>
