<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="bingkey" value=""/>
        <add key="mapquestkey" value=""/>
        <add key="yahooappid" value=""/>
        <add key="cloudmadeapi" value=""/>
        <add key="bosskey" value=""/>
        <add key="bosssecret" value=""/>
    </appSettings>
</configuration>